/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin: 0 0 10px 0;
  }
html {
  scroll-behavior: smooth;
}
/* Global Styles */
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}
h1 {
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size:32px;
}
h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h4 {
  font-weight: bold;
  padding-bottom: 2px;
}
.text1 {
  font-weight: bold;
}
section {
  margin: 5% 0;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Header */
header {
  font-family: "Montserrat", sans-serif;

  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.website-title {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-left: 12%;
}
.website-nav {
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 0.9rem;
}

.sticky-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.sticky-nav ul {
  display: flex;
  list-style: none;
  margin-right: 12%;
}

.sticky-nav ul li {
  margin-right: 2rem;
}

.sticky-nav ul li:last-child {
  margin-right: 0;
}

.sticky-nav a {
  /*font-weight: normal;*/
  transition: color 0.2s ease;
}

.sticky-nav a:hover {
  color: #666;
}

.sticky-nav.sticky {
  background-color: #333;
  color: #fff;
}

.sticky-nav.sticky a {
  color: #fff;
}

/* About Section */
.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-info img {
  width: 25%;
  border-radius: 50%;
  margin: 1rem;
}

.about-info p {
  width: 72%;
  margin: 1rem;
}

.about-info button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  font-weight: 700;
  /*border-radius: 2rem;*/
  margin-top: 1rem;
  transition: background-color 0.2s ease;
}

.about-info button a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #fff;
}
.about-info button:hover {
  background-color: #666;
}

/* Portfolio Section */
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.item {
  flex-basis: calc(33.33% - 1rem);
  margin-bottom: 2rem;
}

.item img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
}

.item h3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.item p {
  margin-top: 0.2rem;
}

.item:hover img {
  transform: scale(1.05);
}

/* Contact Section */
.contact-info {
  text-align: center;
  margin-top: 2rem;
}

.contact-info p {
  margin-bottom: 1rem;
}

.contact-info ul {
  list-style: none;
  margin-top: 1rem;
}

.contact-info li {
  margin-bottom: 1rem;
}

.contact-info a i {
  margin-right: 0.5rem;
}

footer {
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
}

/* Back to Top Button */
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 30px;
  display: none;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.back-to-top:hover {
  background-color: #666;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .about-info {
    margin-top: 60px;
  }
  .portfolio-items {
    margin-top: 4rem;
  }

  .item {
    flex-basis: calc(50% - 1rem);
  }

  .back-to-top {
    bottom: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 576px) {
  .about-info {
    margin-top: 120px;
  }
  .portfolio-items {
    margin-top: 4rem;
  }

  .item {
    flex-basis: 100%;
    margin-bottom: 1rem;
  }

  .sticky-nav {
    height: 50px;
  }

  .sticky-nav ul li {
    margin-right: 1rem;
  }

  .back-to-top {
    bottom: 10px;
    right: 10px;
  }
}
img {
  max-width: 100%;
  max-height: 100%;
  
}
.gallery {
  display: flex;
  margin: 10px auto;
  max-width: 900px;
  position: relative;
  padding-top: calc(900px / 600px * 100%);
}
@media screen and (min-width: 900px) {
  .gallery {
    padding-top: 600px;
  }
}
.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}
.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__selector:checked + .gallery__img,
.gallery__selector:checked + .gallery__video {
  opacity: 1;
}
.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 1px #666666;
}
.fa {
  padding: 20px;
  font-size: 36px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}
.text-video {
  display: flex;
}
.gk-text {
  margin-right: 20px;
}
.qr-code {
  width: 80px;
  height: 80px;
}
.subtitle {
  padding-top: 50px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size:28px;
  font-weight: bold;
}
.column {
  float: left;
  width: 32%;
  padding-top: 10px;}
.column-middle {
  float: left;
  width: 32%; /* Adjusted width to accommodate margins */
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 30px;
}
.column h2 {
  text-align: left;
}
.column-middle h2 {
  text-align: left;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
